body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

/* HERO */
.hero {
  height: 100vh;
  background: url('img/fondo.jpg') center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  top: 40%;
}

/* CARDS */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #222;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background: #333;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

.modal-contenido {
  background: #222;
  margin: 15% auto;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
}

.modal img {
  width: 100%;
  border-radius: 10px;
}

.cerrar {
  float: right;
  font-size: 25px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    top: 35%;
  }
}